body {
  text-align: center;
  background-color: lightsteelblue;
}

button {
  padding: 20px;
  cursor: pointer;
}
div {
  height: 200px;
  width: 600px;
  border: 1px dashed black;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
